.container {
  display: grid;
  grid-template-rows: 50px min-content 1fr min-content min-content;
  gap: 8px;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  padding: 20px 15px 30px;
}

.header {
  font-size: 2.5rem;
  color: #3069F2;
  width: 100%;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
}

.gridMiddle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
}

.gridColumn {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  width: 100%;
}

.content {
  background-image: url('public/img/content.png');
  background-position: -50px -33px;
  background-repeat: no-repeat;
}

.profileImg {
  background-image: url('public/img/profile.png');
  background-position: -10px -10px;
  background-repeat: no-repeat;
}

.energyImg {
  background-image: url('public/img/energy.png');
  background-position: -20px -5px;
  background-repeat: no-repeat;
}

.coinsImg {
  background-image: url('public/img/coins.png');
  background-position: 45px -25px;
  background-repeat: no-repeat;
}

.trainingImg {
  background-image: url('public/img/training.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.goalsImg {
  background-image: url('public/img/goals.png');
  background-position: 23px -20px;
  background-repeat: no-repeat;
}

.ratingImg {
  background-image: url('public/img/rating.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.journalImg {
  background-image: url('public/img/journal.png');
  background-position: -10px -10px;
  background-repeat: no-repeat;
}

.mealsImg {
  background-image: url('public/img/meals.png');
  background-position: 60px -10px;
  background-repeat: no-repeat;
}

