.body {
  background-color: #3069F2;
  color: white;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100%;
}

.img {
  max-height: 300px;
}
