@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lana';
    src: url('shared/fonts/lena.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Bold';
    src: url('shared/fonts/FuturaLT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Book';
    src: url('shared/fonts/futurabkbtrusbyme_book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
* {
    text-decoration: none;
}
/* Применение шрифтов по умолчанию */
body {
    box-sizing: border-box;
    font-family: 'Lana', sans-serif;
    margin: 0;
}

